*{
    padding: 0;
    margin: 0;
}
#section-2{
 background-color: red;
 height: 100px;
}
body{
    background: rgb(0, 0, 0);
}
header nav{
    height: 70px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    position: sticky;

}
nav h2 img{
    border-radius: 50%;
    margin-top: 16px;
}
.rightNav{
    margin-right: 26px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
list-style: none;
-webkit-box-pack: end;
    -ms-flex-pack: end;
        justify-content: end;
gap: 1rem;
font-size: 20px;
}
.leftNav{
    color: white;
    font-size: 2.4vw;
    margin-left: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
span{
    color: white;
}
li{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 23px;
}
li:hover{
    border: 1px solid white;
    color:white;
    background-color: rgb(0, 4, 10);
}
a{
    text-decoration: none;
    color: white;
    background:none;
}
@media (max-width : 900px) {
    header nav{
        background-color: rgb(40, 40, 40);
    }
    .leftNav{
        font-size: 16px;
    }
header nav .home, .about, .contact, .expr{
    display: none;
}
nav li .ham{
    display:flex;
}


}



.leftMain{
    color: white;
    width: 40%;

}
.rightMain{
    color: white;
    width: 40%;
}
.sec1{
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 71vh;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.leftMain h1{
    font-size: 3vw;
    margin-left: 2vw;
}
.leftMain p{
    margin-left:2vw ;
    font-size: 1.7vw;
}
.sec2 .workp{
    color: whitesmoke;
    font-size: 1.3vw;
    margin-left: 2vw;
}
.sec2 .workh{
    color: whitesmoke;
    font-size: 1.8vw;
    margin-left: 2vw;
}

.work{
    color: white;
}
.content{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
}
.htmlExp{
    width: 30vw;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
}
.cssExp{
    margin: 0 20px;
    width: 30vw;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
}
.jsExp{
    width: 30vw;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0);
}
.exprinces p{
 font-size: 1.5vw;
}
.exprinces h2{
    margin: 16px 0;
}
.exprinces .cssExp:hover, .htmlExp:hover, .jsExp:hover{
 border: 1px solid white;
 border-radius: 20px;
}
@media (max-width :700px) {
    body{
        width: 100%;
        background-color: black;
    }
    main .sec1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .leftMain h1{
        margin: 0;
        width: 400px;
        font-size: 26px;
    }
    .leftMain p{
        width: 350px;
        font-size: 18px;
    }
    .rightMain{
        width: 350px;
    }
    .work{
        margin: 10px 0;
        color: white;
        height: 50px;
    }
 .exprinces p{
    color: black;
    font-size: 16.5px;
 }
 .htmlExp{
    width: 356px;
    height: 370px;
    margin: 20px 0;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
 }
 .htmlExp p ,  .cssExp p , .jsExp p {

    text-align: center;
    color: white;
 }
 .cssExp{
    width: 356px;
    height: 370px;
    color: white;
    margin: 26px 0;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }

 .jsExp{    width: 356px;
    height: 370px;
    color: white;
    margin: 26px 0;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        width: 100%;
        height: 100%;
    }
}







footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 76px;
    background-color: rgb(2, 2, 36);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
footer .icon .facebookicon{
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 3vw;
    border-radius: 50%;
}
footer .icon .facebookicon:hover{
    border: 2px solid white;
}
footer .icon .linkedinicon{
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 3vw;
    border-radius: 50%;
}
footer .icon .linkedinicon:hover{
    border: 2px solid white;
}
footer .copy{font-size: 1.6vw;
    color: white;
}
@media (max-width :900px) {
    footer .icon .facebookicon{
        font-size: 50px;
    }
    footer .icon .linkedinicon{
        font-size: 50px;
    }
    footer .copy{
        font-size: 12px;
    }
}